@font-face {
    font-family: 'avengeroregular';
    src: url('../Fonts/Avengero/avengeroregular-zvgl-webfont.woff2') format('woff2'),
         url('../Fonts/Avengero/avengeroregular-zvgl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'marvelregular';
    src: url('../Fonts/MarvelRegular/marvel-regular-webfont.woff2') format('woff2'),
         url('../Fonts/MarvelRegular/marvel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}