.HeaderContainer-navigation {
    position: relative;
        justify-self: center;
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin: 1rem;
        li:hover {
            border: 2px solid white;
            box-shadow: 8px 8px 10px 0px rgba(0,0,0,0.75); 
        }
        li {
            text-decoration: none;
            display: block;
            font-size: 1rem;
            background: red;
            padding: 10px 20px;
            margin: 10px;
        }
}